.box-your-profile{
    height:100px;
    width:150px;
    background-color:rgba(128, 128, 128, 0.4);
    border:1px solid black;
    border-radius:10%;
}

a{
    text-decoration:none;
    color:black;
}